/* Text ***********************************************************************/
.introduction_card {
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Cormorant Garamond', serif;
  /* font-weight: 800; */
  /* font-style: italic; */
}

#introduction_card-title_name {
  font-size: 100px;

  letter-spacing: -11px;

  color: rgb(50,50,50);
}

#introduction_card-traits {
  font-size: 30px;

  letter-spacing: -2px;

  color: rgb(50,50,50);
}

.personal_link:link, .personal_link:visited, .personal_link:active {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  /* font-weight: 800; */

  color: rgb(250,250,250);
  letter-spacing: -1px;
  text-decoration: none;
}

.personal_link:hover {
  color: rgb(140,250,250);
}

/******************************************************************************/

/* Spacings */
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  height: 100vh;
  width: 100vw;

  background-color: rgb(140,250,250);
}
p {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.parallax_cards_container {
  position: relative;
}

.parallax_card--fg {
  position: relative;
  top: 0px;
  z-index: 1;
}
.parallax_card--bg {
  position: relative;
  top: -495px;
  z-index: 0;
}

.introduction_card {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  height: 100vh;
  width: inherit;

  /* background-color: rgb(250,240,130); */
  /* background-color: rgb(190,250,150); */
  background-color: rgb(140,250,250);
  /* background-image: linear-gradient(rgb(10,10,10),rgb(50,50,50)); */
}

#introduction_card-titleNameAndTraitscontainer {
  margin: auto;
  padding: 0px;

  height: 100vh;
  width: auto;

  z-index: 0;

  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: auto;
}

#introduction_card-title_name {
  /* you may be able to use js code to make the resizing more smooth... */
  margin: auto auto;
  padding: 0px;

  height: auto;
  width: inherit;

  text-align: left;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-start: 1;
}

#introduction_card-traits {
  margin: auto 50px;
  padding: 0px;

  height: auto;
  width: auto;

  text-align: left;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-start: 1;

  /* background-color: rgb(0,0,0); */
}

#introduction_card-navigation_slider {
  margin: auto;
  padding: 0px;

  position: relative;
  top: -25px;
  border-radius: 100px;

  background-color: rgb(70,70,70);

  height: 6px;
  width: 75px;
}

.content_card_wrapper {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  height: 100vh;
  width: auto;

  text-align: center;

  background-color: rgb(50,50,50);
  /* background-image: url(/Users/raunakbhagat/Desktop/desert.png); */
}

#hyper_link_tabs {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px;
}

#education_link {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-start: 2;
}
#work_experience_link {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-start: 2;
}
#volunteering_experience_link {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-start: 2;
}
#hobbies_link {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-start: 2;
}
